@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-family: 'Inter';
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 5px rgb(105, 0, 0, 0.322);
    background-color: #6FA45E;
    color: black;
    height: 91px;
}

header h2 {
    display: flex;
    padding-left: 30vw;
}

.loginmy {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    font-family: Roboto;
}

.loginmy a {
    color: black;
    text-decoration: none;
}
.loginmy p:hover {
    font-size: 17px;  
    transition: 0.5s; 
    text-decoration: underline; 
}

.logo {
    width: 80px;
}

body {
    font-family: Roboto;
}

h1 {
    color: black;
}

.land_pai {
    display: flex;
    flex-direction: row;
    background-image: url(../assets/imgs/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 91px);
}

.land {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30vh;
    padding-left: 3vw;
}

.land h1 {
    font-size: 64px;
    color: black;
    padding-bottom: 24px;
}

.land p {
    font-size: 24px;
    width: 30vw;
    text-align: center;
    padding-bottom: 24px;
    line-height: 150%;
    color: #70A65F;

}

.vocesabia {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 7vw;
}

.vocesabia p {
    width: 90%;
    color: #828282;
    font-size: 24px;
    text-align: center;
}

.vocesabia h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    padding-bottom: 10vh;
}

.caixa_vazia {
    display: flex;
    align-items: center;

    width: 50%;
}

footer {
    display: flex;
    align-items: center;
    border-top: 2px solid #404040;
    justify-content: flex-start;
    background-color: #6FA45E;
    height: 25vh;
}
footer img{
    margin-left: 3vw;
}

.containervoc {
    display: flex;
    background-color: #312E2C;
    height: calc(100vh - 91px);
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.saibamais {
    display: flex;
    background-color: aliceblue;
    justify-content: center;
}

.caixinha {
    display: flex;
    width: 50vw;
    font-size: 20px;
    background-color: #b58863;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border: 0;
    background: #000000;
    border-radius: 8px;
    color: white;
}

.img_tab {
    display: flex;
    width: 30vw;
    padding-left: 7vw;
    border-radius: 30vw;
}

.porquediv {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10vh;
    margin-left: 5vw;
}

.frame3 {
    display: flex;
    height: 80vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.frame3pai{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    align-items: center;  
    background-color: #312E2C;
    padding: 10px;
}
.frame3pai h1{
    font-size: 50px;
    color: white;
}

.frame3fi {
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 40vw;
}
.frame3fi h2 {
    padding-bottom: 4vh;
    color: #000000;
    font-size: 30px;
}

.frame3fi p {
    padding-bottom: 4vh;
    color: #828282;
    font-size: 18px;
}
.frame4 {
    background-image: url(../assets/imgs/back2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.frame4 h1 {
    font-size: 50px;
    color: black;
    width: 40vw;
    text-align: left;
}
.frame4 button{
    margin-top: 5vh;
}
.git{
    align-self: center;
    width: 20px;
    margin-right: 7px;
}
.fot{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}