@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-family: 'Inter';
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 5px rgb(105, 0, 0, 0.322);
    background-color: #6FA45E;
    color: black;
    height: 91px;
}
header h2{
    display: flex;
    padding-left: 30vw;
}
.loginmy {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    font-family: Roboto;
}

.loginmy a {
    color: black;
    text-decoration: none;
}

.logo {
    width: 80px;
}
body {
    font-family: Roboto;
}

h1 {
    color: black;
}

.land_pai {
    display: flex;
    flex-direction: row;
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.land {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30vh;
    padding-left: 3vw;
}

.land h1 {
    font-size: 64px;
    color: black;
    padding-bottom: 24px;
}

.land p {
    font-size: 24px;
    width: 30vw;
    text-align: center;
    padding-bottom: 24px;
    line-height: 150%;
    color: #70A65F;

}

.vocesabia {
    display: flex;
    text-align: start;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    margin-left: 7vw;
}

.vocesabia p {
    width: 60%;
    color: #828282;
    font-size: 24px;
}

.vocesabia h1 {
    font-size: 40px;
    color: white;
    padding-bottom: 10vh;
}

.caixa_vazia {
    display: flex;
    align-items: center;

    width: 50%;
}

footer {
    display: flex;
    align-items: center;
    border-top: 2px solid #404040;
    justify-content: center;
    background-color: #b58863;
    height: 10vh;
}

.containervoc {
    display: flex;
    background-color: #312E2C;
    height: 100vh;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.saibamais {
    display: flex;
    background-color: aliceblue;
    justify-content: center;
}

.caixinha {
    display: flex;
    width: 50vw;
    font-size: 20px;
    background-color: #b58863;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;

    background: #000000;
    border-radius: 8px;
    color: white;
}

.img_tab{
    display: flex;
    width: 30vw;
    padding-left: 7vw;
}
.porque{
    background-image: url(../img/back2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.porque h1 {
    font-size: 50px;
    color: black;
}


